.day-mode {
  background-color: #ffffff;
  color: #000;
}

.night-mode {
  background-color: #121212;
  color: #fff;
}

.night-mode .card {
  background-color: #1e1e1e;
  color: #fff;
}

.night-mode .navbar,
.night-mode footer {
  background-color: #222 !important;
}
.night-mode header,
.night-mode footer,
.night-mode #sidebar {
  background-color: #1a1a1a !important;
}
.product-img {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sidebar.d-none {
  display: none !important;
}
#Wrapper.sidebar-hidden #sidebar{
  display: none;
}


html{
  scroll-behavior: smooth;
}
#kfc-header.scrolled{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all 0.3s ease;

}
#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  z-index: 999;
  transition: all 0.3s ease;
  overflow-y: auto;
}
#sidebar.active {
  left: 0;
}
#main-content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
}
#main-content.shifted {
  margin-left: 250px;
}
#sidebar .nav-link:hover {
  background-color: #ffffff33;
  border-radius: 5px;
}
.product-card {
  transition: transform 0.3s ease;
}
.product-card:hover {
  transform: scale(1.05);
}

